.example-spacer {
  flex: 1 1 auto;
}
.navbar-noauth mat-toolbar 
{
    background-color:#03045e;
}
.navbar-noauth mat-toolbar button {
  color: white !important;
}
.navbar-noauth mat-toolbar span {
  color: white !important;
}


.navbar-noauth mat-toolbar mat-icon {
  color: white !important;
}

.dashboard-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #3f51b5;
}

table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

th.mat-header-cell {
  background-color: #3f51b5;
  color: white;
  font-weight: 500;
  text-align: center;
}

td.mat-cell {
  text-align: center;
  padding: 10px;
}

tr.mat-row:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

button {
  display: block;
  margin: 30px auto 0;
  padding: 8px 20px;
  border-radius: 6px;
}
